#complete:hover {
    -fx-background-color: #81858C;
    -fx-cursor: hand;
}
#cancel:hover {
    -fx-background-color: #E81123;
    -fx-cursor: hand;
}
#extend:hover {
    -fx-background-color: #81858C;
    -fx-cursor: hand;
}

/* PopOver css */
.popover VBox .button {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.popover VBox .button:hover {
    -fx-background-color: #CCD0D0;
    -fx-cursor: hand;
}