.list-view .list-cell:even {
-fx-background-color: transparent;
-fx-text-fill: black;
}
.list-view .list-cell:odd {
-fx-background-color: transparent;
-fx-text-fill: black;
}

.list-view .scroll-bar:vertical {
    -fx-scale-x: 1;
}