.list-view .list-cell:even {
-fx-background-color: transparent;
-fx-text-fill: black;
/* -fx-alignment: center-right;
#-fx-cell-size: 30;
#-fx-font-size: 10; */
}
.list-view .list-cell:odd {
-fx-background-color: transparent;
-fx-text-fill: black;
}

.list-view .scroll-bar:horizontal {
    -fx-scale-x: 0;
}

.text-field {
   -fx-background-color: transparent;
   -fx-text-box-border: transparent ;
   -fx-focus-color: transparent ;
 }

.list-cell {
    -fx-padding: 0.25em 0px 0.25em 0px;
}

#ChatPane:hover {
    -fx-background-color: #ffb74d;
}